*{  
    margin: 0px;
}
body{
    background-color:#646f77;
}

#header{
    background-color: #010105;
    color: beige;
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.elements {
    color: beige;
    margin-left: 20px;
    text-align: right;
    margin-top: 25px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
#logo {
    height: 56px;
    width: 56px;
    background-image: url(unnamed.png);
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
#navbar_name{
    margin-right: auto;
    margin-left: 20px;
    margin-top: 25px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}
#prefooter {
    background-color: #33383e;
    height: 50px;
}
#footer{
    background-color: #010105;
    height: 117px;
    display: flex;
    justify-content: center;
}
.icons {
    margin-top: 30px;
}
#bgimage {
    background-image: url(ADARSH.jpg);
    background-size: cover;
    height: 500px;
    width: 400px;
   margin-left: 7%;
   margin-top: 5%;
   margin-bottom: 5%;
}
#skem {
    display: flex;
}
a img {
    height: 50px;
    width: 50px;
    display: inline;
}
#email {
    text-decoration: none;
    color: beige;
}
#mail {
    color: beige;
}
.small_head{
    margin-top: 25px;
    font-weight: bolder;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    text-align: center;
}
#main {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
.content {
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 30px;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 18px;
}
#slideshow {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 30px;
    height: 600px;
    width: 1500px;
    background-color: #010105;
    border-radius: 10px;
}
#heading {

    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Playfair Display", serif;
}
